.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.action {
  display: block;
  width: 100%;
  padding: 0.3rem;
}

.dropdown p {
  display: inline-block;
  vertical-align: middle;
}

.dropdown ion-icon {
  display: inline-block;
  margin-left: 0.7rem;
  vertical-align: middle;
}
