.categories {
  background-color: var(--color-dark-background);
  padding: var(--size-common-whitespace-small);
  width: var(--size-categories-width);
}

.categories h5 {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

.categories p {
  color: var(--color-white);
  margin-top: 12px;
  transition: color var(--duration-animation-normal);
  cursor: pointer;
}

.categories p:hover {
  color: var(--color-primary);
}
