.sectionrow {
  display: flex;
  min-height: 65vh;
  margin-top: var(--size-common-whitespace-small);
}

.sectioncolumn {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.empty {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.empty div {
  width: 296px;
  height: 296px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 32px 22px 22px;
}

.empty p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.empty a {
  font-size: 1.2rem;
  color: var(--color-primary);
  text-decoration: none;
}
