.body {
  height: 180vh;
  min-height: 180vh;
}

.body {
  display: flex;
}

.container {
  flex: 1;
  border: 1px solid orangered;
  margin: 0 var(--size-common-whitespace-smaller);
}

.topContainer {
  min-height: 100px;
}

.bottomContainer {
  background-color: palegoldenrod;
}

.temp {
  color: wheat;
  background-color: var(--color-dark-background);
  width: 220px;
  height: 500px;
}
