.body {
  display: flex;
}

.container {
  flex: 1;
  border: 1px solid lightslategray;
  margin-left: var(--size-common-whitespace-small);
}

.topContainer {
  min-height: 100px;
}

.bottomContainer {
}

.temp {
  color: wheat;
  background-color: var(--color-dark-background);
  width: 220px;
  height: 400px;
}
