.body {
  display: flex;
}

.container {
  flex: 1;
  /* border: 1px solid lightslategray; */
  margin-left: var(--size-common-whitespace-medium);
}

.topContainer {
  margin-bottom: var(--size-common-whitespace-smaller);
}

.bottomContainer {
  padding-bottom: var(--size-common-whitespace-medium);
}

.temp {
  color: wheat;
  background-color: var(--color-dark-background);
  width: 220px;
  height: 400px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
