.wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.main {
  min-height: 60vh;
  margin: 22px 0;
}

.reviews {
  min-height: 50vh;
  flex-flow: column;
}

.recommendation {
  flex-flow: column;
}

.description,
.reviews,
.recommendation {
  margin: 22px 0;
}

.main,
.detail,
.reviews,
.description,
.recommendation {
  display: flex;
  width: var(--size-main-width-large);
}
