:root {
  --p-item-size: 180px;
}

.container {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-border);
  display: flex;
  padding: var(--size-common-whitespace-smaller);
  overflow: hidden;
  width: 100%;
}

.image-container img {
  width: var(--p-item-size);
  height: var(--p-item-size);
}

.title {
  display: block;
  text-decoration: none;
  margin-bottom: 12px;
}

.title:hover {
  color: var(--color-primary);
  transition: var(--duration-animation-fast);
}

.price {
  font-weight: 600;
  color: var(--color-accent);
}

.inner-container {
  padding: 0 var(--size-common-whitespace-smaller);
}
