.iconbutton {
  display: flex;
  outline: none;
  border: none;
  background-color: transparent;
  width: var(--size-iconbutton-medium);
  height: var(--size-iconbutton-medium);
}

.iconbutton svg {
  width: 100%;
  height: 100%;
  color: var(--color-dark);
  fill: var(--color-dark);
}
