.iconbutton {
  position: relative;
  display: flex;
  outline: none;
  border: none;
  background-color: transparent;
  width: var(--size-iconbutton-medium);
  height: var(--size-iconbutton-medium);
  color: var(--color-dark);
  transition: var(--duration-animation-normal);
}

.iconbutton:hover {
  color: var(--color-primary);
}

.iconbutton svg {
  width: 100%;
  height: 100%;
}

.noti::before {
  display: block;
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: -0.15em;
  right: -0.15em;
  background-color: var(--color-primary);
}
