.title {
  margin-bottom: var(--size-common-whitespace-medium);
}

.stats {
  display: flex;
}

.reviewText {
  text-align: justify;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
