.categories {
  position: absolute;
  background-color: var(--color-dark-background);
  height: var(--size-categories-heigth);
  padding: 30px;
  width: var(--size-categories-width);
}

.categories h5 {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

.categories p {
  color: var(--color-white);

  margin-bottom: 12px;
  transition: color var(--duration-animation-normal);
  cursor: pointer;
}

.categories p:hover {
  color: var(--color-primary);
}

.categoriesWrapper {
  min-width: var(--size-categories-width);
  margin-right: var(--size-common-whitespace-medium);
}
