.categories {
  position: absolute;
  color: var(--color-white);
  background-color: var(--color-dark-background);
  height: var(--size-categories-heigth);
  padding: 30px;
  width: var(--size-categories-width);
}

.categoriesWrapper {
  min-width: var(--size-categories-width);
  margin-right: var(--size-common-whitespace-medium);
}
