:root {
  --nav-item-hover-offset: 18%;
}

.item {
  display: flex;
  list-style: none;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
}

.item a {
  text-decoration: none;
}

.item::before {
  width: 0%;
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(var(--nav-item-hover-offset) / -2);
  height: 0.6rem;
  transition: var(--duration-animation-long);
  background-color: rgba(var(--color-primary-rgb), 65%);
}

.item:hover::before,
.active.item::before {
  width: calc(100% + var(--nav-item-hover-offset));
}
