.carouselWrapper {
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.carosel {
  overflow-y: auto;
}

.itemWrapper {
  display: inline-block;
  white-space: normal;
  width: fit-content;
  height: fit-content;
  vertical-align: top;
}

.btnPrev,
.btnNext {
  position: absolute;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  background-color: var(--color-dark-background);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%) translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  transition: var(--duration-animation-long);
}

.carouselWrapper ion-icon {
  color: var(--color-white);
  font-size: 2rem;
  pointer-events: none;
}

.btnNext {
  right: 0;
  transform: translateY(-100%) translateX(100%);
}

.carosel::-webkit-scrollbar {
  height: 0px;
}

.btnPrev:hover,
.btnNext:hover {
  opacity: 0.7;
}

.hide {
  opacity: 0;
  cursor: auto;
}

.hide:hover {
  opacity: 0;
}
