.linkLocator {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  width: var(--size-main-width-large);
  color: var(--color-gray);
}

.linkItem {
  display: flex;
  align-items: center;
}

.linkItem div {
  cursor: pointer;
}

.linkItem a:hover {
  color: var(--color-dark);
}

.linkItem svg {
  width: 12px;
  height: 12px;
  margin: 0 10px;
}
