.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid var(--color-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
