.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--size-card-width-medium);
  height: var(--size-card-height-medium);
  margin-bottom: var(--size-common-whitespace-medium);
}

.item img {
  width: 100%;
}
