:root {
  --item-list-margin: var(--size-common-whitespace-small);
  --pagination-size: 32px;
  --item-list-btn-margin: 8px;
  --item-list-item-size: 286px;
}

/* grid */
/* default item count per grid- 4 */
.grid-4,
.grid-6 {
  width: calc(100% + var(--item-list-margin));
}

.grid__item {
  display: inline-block;
  vertical-align: top;
  width: calc(calc(100% / 4) - var(--item-list-margin));
  height: var(--item-list-item-size);
  margin: 0 var(--item-list-margin) var(--item-list-margin) 0;
}

.grid-6 .grid__item {
  width: calc(calc(100% / 6) - var(--item-list-margin));
  height: var(--item-list-item-size);
}

/* list */
.list {
  width: 100%;
  margin-bottom: var(--size-common-whitespace-medium);
}

.list__item {
  display: block;
  margin-bottom: var(--size-common-whitespace-smaller);
}

.list__item:last-child {
  margin-bottom: 0;
}

.load-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .grid-6 .grid__item {
    width: calc(calc(100% / 5) - var(--item-list-margin));
  }
}

@media (max-width: 1052px) {
  .grid__item {
    width: calc(calc(100% / 3) - var(--item-list-margin));
  }

  .grid-6 .grid__item {
    width: calc(calc(100% / 4) - var(--item-list-margin));
  }
}
