@import "variables.css";

* {
  color: var(--color-dark);
  font-size: var(--size-font-default);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* main {
} */

button {
  cursor: pointer;
}

svg,
.ion-icon {
  pointer-events: none;
}

h1 {
  font-size: 2.1rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.46rem;
}

h4 {
  font-size: 1.28rem;
}
