:root {
  --color-primary: #ff96ad;
  --color-primary-rgb: 255, 150, 173;
  --color-accent: #005a8d;

  --color-dark-background: #393f42;
  --color-gray-background: #e8eaed;
  --color-gray-border: #dcdee2;

  --color-white: #f4f5f7;
  --color-dark: #3e3e3e;
  --color-gray: gray;

  --color-warning: #ffa182;
  --color-success: #0bef90;
  --color-info: #04daf2;
  --color-warning: #ffea0c;
}

:root {
  /* main */
  --size-main-width-large: 1200px;

  --size-navbar-height: 58px;
  --size-navbar-width: var(--size-main-width-large);

  /* banner */
  --size-banner-height: 40vh;

  /* white spaces */
  --size-common-whitespace-medium: 32px;

  /* categories */
  --size-categories-heigth: 400px;
  --size-categories-width: 256px;

  /* card */
  --size-card-width-medium: 210px;
  --size-card-height-medium: 286px;

  --size-btn-padding: 10px 18px;

  --size-font-default: 14px;
  --size-font-small: 12px;
  --size-font-medium: 16px;
  --size-font-large: 32px;

  --size-iconbutton-medium: 24px;
  --size-iconbutton-search: 30px;

  /* banner */
  --size-banner-control-btn-padding: 12px;
  --size-banner-dot: 10px;
}

:root {
  --duration-animation-normal: 200ms;
  --duration-animation-long: 300ms;

  /* banner */
  --duration-banner-animation: 1.2s;
}
