.banner-container {
  position: relative;
  background-color: var(--color-white);
  height: var(--size-banner-height);
  overflow: hidden;
}

/* Slide img */
.slide {
  position: absolute;
  object-fit: contain;
  display: inline-block;
  width: 100%;
  left: -100%;
}

.slide.slide-show {
  left: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--size-banner-control-btn-padding);
  color: var(--color-white);
  font-weight: bold;
  font-size: var(--size-font-medium);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0;
  background-color: rgba(0,0,0,0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Show buttons when the banner is hovered */
.banner-container:hover .next {
  opacity: 1;
}

.banner-container:hover .prev {
  opacity: 1;
}

/* The dots/bullets/indicators */
.dot-container {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.dot {
  cursor: pointer;
  height: var(--size-banner-dot);
  width: var(--size-banner-dot);
  margin: 0 calc(var(--size-banner-dot) / 4);
  background-color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  transition: background-color var(--duration-animation-long) ease;
}

.active, .dot:hover {
  background-color: var(--color-accent);
}

/* Slide animation */
/* Slide out, move left */
.slide-out-left {
  -webkit-animation-name: slide-out-left;
  -webkit-animation-duration: var(--duration-banner-animation);
  animation-name: slide-out-left;
  animation-duration: var(--duration-banner-animation);
}

@-webkit-keyframes slide-out-left {
  from {left: 0;}
  to {left: -100%;}
}

@keyframes slide-out-left {
  from {left: 0;}
  to {left: -100%;}
}

/* Slide in, move left */
.slide-in-left {
  -webkit-animation-name: slide-in-left;
  -webkit-animation-duration: var(--duration-banner-animation);
  animation-name: slide-in-left;
  animation-duration: var(--duration-banner-animation);
}

@-webkit-keyframes slide-in-left {
  from {left: 100%;}
  to {left: 0;}
}

@keyframes slide-in-left {
  from {left: 100%;}
  to {left: 0;}
}

/* Slide in, move right */
.slide-in-right {
  -webkit-animation-name: slide-in-right;
  -webkit-animation-duration: var(--duration-banner-animation);
  animation-name: slide-in-right;
  animation-duration: var(--duration-banner-animation);
}

@-webkit-keyframes slide-in-right {
  from {left: -100%;}
  to {left: 0;}
}

@keyframes slide-in-right {
  from {left: -100%;}
  to {left: 0;}
}

/* Slide out, move right */
.slide-out-right {
  -webkit-animation-name: slide-out-right;
  -webkit-animation-duration: var(--duration-banner-animation);
  animation-name: slide-out-right;
  animation-duration: var(--duration-banner-animation);
}

@-webkit-keyframes slide-out-right {
  from {left: 0;}
  to {left: 100%;}
}

@keyframes slide-out-right {
  from {left: 0;}
  to {left: 100%;}
}